nav {
  display: flex;
  padding: 0 1rem;
  margin: 0;
  align-items: center;
  justify-content: space-between;
  background-color: beige;
}

.nav ul{
  display: flex;
  gap: 3rem;
  text-decoration: none;
}


.site-title{
  font-size: 2rem;
}

.nav a {
  text-decoration: none;
}

.nav-item {
  display: flex;
  text-decoration: none;
  border-style: hidden;
  border-width: 1px;
  border-radius: 5px;
  border-color: black;
  background-color: white;
  box-shadow: 2px 2px 10px;
  padding: 5px;
  margin: auto;
}

.nav-item:hover {
  display: flex;
  background-color: rgb(187, 40, 113);
  color: aliceblue;
}

.purpose-div{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  
}

.purpose-div p{
  margin: 0;
}

.horizontal-titles{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  
}

.horizontal-titles h2 {
  margin: 10px;
  padding: 10px;
  border: 1px solid black;
}

.horizontal-titles p {
  margin: 10px;
  padding: 10px;
}